@charset "UTF-8";
/* CSS Document */

@media print{
BODY {display:none}
}

body {
	margin:0px;
	padding:0px;
	border:0px;
	width:100%;
	height:auto;
	}

.web{
	width:100%;
	margin-top:-280px;
	height:380px;
	}


.nav{
	width:100%;
	height:120px;
	background-color:#454545;
	position:fixed;
	margin-top:0px;
	padding:0px;
	z-index:1;
	filter:alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	}

.logo{
	width:100px;
	height:100px;
	margin-top:37.5px;
	margin-left:50px;
	float:left;
	}
	
.menu{
	float:right;
	display:block;
	height:120px;
	margin:0px;
	}
	
.list{
	color:rgba(255,255,255,1.00);
	list-style:none;
	display:block;
	line-height:111px;
	font-size:50px;
	padding:0px;
	float:left;
	margin-left:10px;
	margin-right:40px;
	}
	
.list_a{
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	}
	
#select{
	color:#FFC74A;
	border-bottom:solid 10px  #000000 ;
	margin-bottom:10px;
	}
	
.space{
	width:100%;
	height:110px;}

	
ul{
	margin:0px;
	padding:0px;
	width:100%;
	}
	
li{
	padding:0px;
	margin-top:100px;
	margin-left:50px;
	margin-right:50px;
	list-style:none;
	border:#EAEAEA 1px solid;
	background:#f3f3f3;
	border-radius:30px;
	}
	
.tit{
	height:130px;
	display:block;
	font-size:45px;
	line-height:130px;
	padding-left:50px;
	margin:0px;
	font-weight:bold;
	background:#AAAAAA;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	}

.ms{
	display:block;
	padding-left:50px;
	font-size:40px;
	padding-top:20px;
	padding-bottom:30px;
	padding-right:50px;
	color:#535353;
	}
	
.get{
	border-radius:50px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	
	display:block;
	text-align:center;
	font-size:40px;
	color:#000;
	text-decoration:none;
	height:100px;
	background:rgba(255,255,255,0.50);
	line-height:100px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	margin-top:20px;
	border:1px solid #000;
	}
	
#link{
	color:#42ACEB;}
	

.banner{
	width:100%;
	height:auto;
	z-index:-1;}
	
.user_bg{
	margin-left:auto;
	margin-right:auto;
	display:block;
	background:rgba(255,255,255,0.40);
	margin-top:-178px;
	width:385px;
	height:385px;
	border-radius:338px;
	z-index:0;
	position:relative;
	}
	
.user_bg_top{
	background:rgba(255,255,255,1.00);
	width:355px;
	height:355px;
	margin:15px;
	border-radius:338px;
	position:absolute;
	background-image:url("../img/jbpLogo.jpg");
	background-repeat:no-repeat;
	background-position:center;
	}
	
.text{
	text-align:center;
	display:block;
	font-size:50px;
	margin-top:0px;
	}
	
.AD_text{
	text-align:center;
	display:block;
	font-size:40px;
	margin-top:0px;
	}
	
.code{
	width:540px;
	height:530px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:20px;}
	
.border{
	width:490px;
	height:290px;
	border:rgba(0,0,0,1.00) solid 0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-180px;}
	
.code_num{
	display:block;
	position:absolute;
	background:#00C74A;
	margin-top:185px;
	color:rgba(255,255,255,1.00);
	width:330px;
	height:70px;
	text-align:center;
	line-height:70px;
	margin-left:78px;
	font-size:38px;
	border-radius:100px;
	}
	

	
.bottom{
	width:100%;
	display:block;
	text-align:center;
	background:#454545;
	height:100px;
	margin-top:100px;
	color:#FFFFFF;
	line-height:100px;
	font-size:40px;
	position:absolute;
	width:100%;
	}
	
.AD{
	width:1px;
	height:1px;
	display:block;
	font-size:0px;
	}

	
.bg{
	z-index:-1;
	display:block;
	position:fixed;
	margin-top:-190px;
	}

.tip{
	display:block;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	background-color:#f1f1f1;
	height:100px;
	line-height:100px;
	text-align:left;
	border-radius:200px;
	color:#001f3f;
	font-size:27px;
	padding-left:10px;
	padding-right:10px;
	}
	
.all{
	display:block;
	margin-top:80px;
	list-style:none;
	background:#6f6f6f;
	border-radius:40px;
	padding-bottom:100px;
	margin-left:50px;
	margin-right:50px;
	box-shadow:0px 5px 30px 1px rgba(0,0,0,0.20);
	}
	
	
.box{
	height:auto;
	display:block;
	padding-left:170px;
	}
	
.name{
	font-size:45px;
	color:#fff;
	margin-left:50px;
	padding-top:30px;
	position:relative;
	display:block;
	font-weight:bold;
	margin-right:50px;
	}
	
.about{
	font-size:30px;
	color:#fafafa;
	margin-left:50px;
	display:block;
	margin-top:20px;
	margin-bottom:70px;
	margin-right:50px;
	}
	
.btn{
	color:#fff;
	background-color:rgba(255,255,255,0.10);
	display:block;
	width:220px;
	height:90px;
	text-align:center;
	line-height:90px;
	border-radius:100px;
	font-size:40px;
	text-decoration:none;
	margin-top:-10px;
	margin-left:10px;
	margin-right:10px;
	border:1px solid #FFFFFF;
	float:right;
	}
	
.icon{
	width:210px;
	height:210px;
	margin-right:0px;
	display:block;
	margin-left:0px;
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	}
	
	
#bg_NAVY{background-color:#001f3f;}
#bg_BLUE{background-color:#0074D9;}
#bg_BLUE2{background-color:#5599FF;}
#bg_AQUA{background-color:#2AD8B9;}
#bg_TEAL{background-color:#39CCCC;}
#bg_OLIVE{background-color:#3D9970;}
#bg_GREEN{background-color:#2ECC40;}
#bg_LIME{background-color:#2FBF68;}
#bg_YELLOW{background-color:#F6BF1C;}
#bg_ORANGE{background-color:#FF851B;}
#bg_RED{background-color:#FF4136;}
#bg_XMAS_RED{background-color:#DB3728;}
#bg_MAROON{background-color:#85144b;}
#bg_FUCHSIA{background-color:#F012BE;}
#bg_PURPLE{background-color:#B10DC9;}
#bg_BLACK{background-color:#111111;}
#bg_GRAY{background-color:#AAAAAA;}
#bg_SILVER_BLACK{background-color:#4C4C4C;}

	
#icon_vip{background-image:url("../img/vip.png");}
#icon_wechat{background-image:url("../img/wechat.png");}
#icon_phone{background-image:url("../img/phone.png");}


	
.twjc{
	text-align:center;
	color:#252525;}