

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body{
  line-height: 1; 
  width:100%;
  margin-right:10px;}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


    #container {
        /*padding-top: 100px;*/
        /*font-size: 20px;*/
        text-align: center;

        /*margin: 0;*/
        /*padding: 0;*/
    }


    #container > p {
        margin: 15px auto 10px 10px;
        width: 100%;
        text-align: left;
        font-size: 14px;
        color: #34485f;
    }

    input {
        width: 95%;
        height: 40px;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        background-color: #e9edf1;
        line-height: 40px;
        border-radius: 10px;
    }

    textarea {
        width: 95%;
        height: 40px;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        background-color: #e9edf1;
        line-height: 40px;
    }

    button {
        margin: 10px;
        border-radius: 5px;
        font-size: 16px;
        height: 40px;
        width: 100px;
        background-color: 52c5fe;
        border: none;
        color: #ffffff;
    }


    #container {
        /*box-shadow: 0px 0px 5px #bfbfbf;*/
        padding: 10px 20px;
        background-color: #ffffff;
        /*position: absolute;*/
        width: 90%;
        max-width: 85%;
        /*height: 60%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        margin: auto;
		margin-left:0px;

        /*top: 50%;*/
    }
    
.tarea {
        width: 99%;
        height: 135px;
        border: #e6e6e6 3px solid;
        border-color: #ddd #e6e6e6 #e6e6e6 #ddd;
        margin-bottom: 12px;
        box-shadow: inset 1px 1px 1px #eee;
        padding: 4px;
        font-size: 16px;
        line-height: 18px;
        border-radius: 10px;
        }
        
.tarea2 {
        width: 99%;
        height: 80px;
        border: #e6e6e6 3px solid;
        border-color: #ddd #e6e6e6 #e6e6e6 #ddd;
        margin-bottom: 12px;
        box-shadow: inset 1px 1px 1px #eee;
        padding: 4px;
        font-size: 16px;
        line-height: 18px;
        border-radius: 10px;
        }
        
.tarea:focus {
        border-color: #ccc #ddd #ddd #ccc;
         }
         
.tarea2:focus {
        border-color: #ccc #ddd #ddd #ccc;
         }