body,html {
	margin: 0;
	background: ##ffffff;
}

.btn {
	display: block;
	text-align: center;
	font-size: 20px;
	margin: 20px 10px;
	padding: 10px;
	text-decoration: none;
	border-radius: 50px;
	background: #2ECC40;
	color: #fff;
	vertical-align:middle;
	border: none;
}

.btn.btn-ghost {
	/*border: 1px solid #404040;
	background: transparent*/
	background: #F6BF1C;
}

.view-wrap {
	max-width: 500px;
	width: 100%;
	margin: auto
}

.view {
	display: none
}

.view.is-active {
	display: block
}

.banner {
	display: block;
	position: fixed;
	z-index: 9999;
	width: 100%;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 5px;
	background: ##ffffff;
}

.banner a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: #666
}

.banner a img {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	border-radius: 100%
}

.banner a span {
	font-size: 12px
}

.view-upload p.tip {
	text-align: center;
	margin: 50px 0;
	font-size: 18px;
	color: #333
}

.view-upload .upload-btn {
	width: 50%;
	position: relative;
	font-size: 50px;
	border: 1px solid;
	border-radius: 50px;
	margin: 100px auto;
	text-align: center;
	color: #ffffff;
	background: #4C4C4C;
	position: absolute;width:200px;height:200px;left:50%;top:50%; 
	margin-left:-100px;margin-top:-100px;

}

.view-upload .upload-btn .content,.view-upload .upload-btn .file-input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.view-upload .upload-btn .content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.view-upload .upload-btn .content h1 {
	font-size: 60px;
	margin: 0
}

.view-upload .upload-btn .content p {
	font-size: 16px;
	margin: 0
}

.view-upload .upload-btn .file-input {
	opacity: 0
}

.view-edit .loading-wrap {
	display: none;
	position: fixed;
	z-index: 9999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #ffffff;
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 200px 0 0
}

.view-edit .edit-wrap {
	position: relative;
	overflow: hidden
}

.view-edit .edit-wrap:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 5
}

.view-edit .edit-wrap .origin-image {
	display: block;
	width: 100%
}

.view-edit .edit-wrap .editable-image {
	display: block;
	width: 30%;
	position: absolute;
	border: 1px dashed #ccc
}

.view-edit .edit-wrap .editable-image .btn-destory {
	position: absolute;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	top: -10px;
	left: -10px;
	border-radius: 50%;
	background: #888;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 15px;
	line-height: 1
}

.view-edit .edit-wrap .editable-image img {
	width: 100%;
	display: block
}

.view-edit .badge-list {
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	list-style: none;
	padding: 5px;
	margin: 0;
	-webkit-overflow-scrolling: touch
}

.view-edit .badge-list .badge-item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 20%;
	padding-top: 20%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: 50% no-repeat;
	background-size: contain;
	margin-right: 5px
}

.view-edit .save-wrap {
	position: fixed;
	z-index: 99;
	width: 100%;
	bottom: 0;
	left: 0;
	background: ##ffffff;;
	padding: 5px 0 25px
}

.view-edit .save-wrap .warning {
	text-align: center;
	color: #555;
	font-size: 12px;
	margin: 5px 0 0
}

.view-edit .save-wrap .btn-confirm-edit {
	margin: 5px 10px
}

.view-result {
	padding-bottom: 30px
}

.view-result .output {
	display: block;
	width: 70%;
	height: 50%;
	margin: 10px auto
}

.view-result .btn-press {
	position: relative
}

.view-result .btn-press img {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.view-jb img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 50px auto
}

.view-jb .output-jb {
	width:60%;
	height: 60%;
	/*border: 1px solid #ccc;
	border-radius: 100%;*/
	margin: 0 auto
}

.view-jb h1 {
	font-size: 15px;
	line-height: 2;
	color: #A5A5A5;
	text-align: center;
	margin: 10px
}

.wrap {
	width: 100%;
	max-width: 500px;
	margin: auto
}

.wrap button,.wrap input {
	display: none
}

.wrap .img-wrap {
	position: relative
}

.wrap .img-wrap #img {
	width: 90%;
	margin: auto;
	display: block
}

.wrap .img-wrap .btn-wrap {
	width: 80%;
	margin: 30px auto;
	display: none
}